*{
    margin: 0px;
}

.navbar{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px;
}

#searchbar{
    width: 500px;
}

.main{
    margin-top: 10px;
}

.article{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 45px;
    opacity: 0;
    transform: translateY(20px); 
    animation: slideUp 2s ease forwards; 
    animation-iteration-count: infinite;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.parent-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}

.card{
    border: none;
    background-color: white;
    text-align: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    border: 0px solid white;
}

.card:hover{
    box-shadow: blue 0px 5px 15px;;
    transform: scale(1.1,1.1);
}

#btn:hover{
    background: repeating-radial-gradient(circle at center,blue,black)
}



